# Cấu hình Cơ sở dữ liệu MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
# Nếu MySQL không có mật khẩu thì để trống, có thì điền vào sau dấu =
DB_PASSWORD=
DB_NAME=intern_management

# Cấu hình Gửi Email (SMTP)
MAIL_ENABLED=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=no-reply@internship.local
SMTP_FROM_NAME=Hệ thống Quản lý Thực tập sinh